<h1>GOLF Get Tournament Info</h1>

In [110]:
import numpy as np
import pandas as pd
import requests
import urllib.request
import json
from numpy.random import randn

In [5]:
us_open_2017_json_url = "https://statdata.pgatour.com/r/026/2017/setup.json"

In [20]:
with urllib.request.urlopen(us_open_2017_json_url) as url:
    data = json.loads(url.read().decode())

In [21]:
player_id_dict = {}

In [22]:
field_list = data['trn']['field']

In [24]:
for player in field_list:
    ident = player['id']
    last_name = player['name']['last']
    first_name = player['name']['first']
    full_name = first_name + " " + last_name
    
    player_id_dict[ident] = full_name

In [119]:
pars_list = []
yards_1 = []
yards_2 = []
yards_3 = []
yards_4 = []
i = 1
for round in data['trn']['rnds']:
    for course in round['courses']:
        for hole in course['holes']:
            if i == 1:
                pars_list.append(hole['par'])
                yards_1.append(hole['tee']['yards'])
            elif i == 2:
                yards_2.append(hole['tee']['yards'])
            elif i == 3:
                yards_3.append(hole['tee']['yards'])
            elif i == 4:
                yards_4.append(hole['tee']['yards'])
    i += 1

In [120]:
index = ['par', 'r1 yards', 'r2 yards', 'r3 yards', 'r4 yards']
course_df = pd.DataFrame([pars_list, yards_1, yards_2, yards_3, yards_4], index=index, columns=list(range(1,19)))
course_df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
par,5,4,4,4,4,3,5,4,3,4,4,4,3,5,4,3,4,5
r1 yards,613,330,497,451,514,252,604,490,150,514,451,448,227,599,368,179,526,632
r2 yards,597,360,515,456,498,249,578,487,153,525,468,437,198,603,348,179,512,676
r3 yards,609,331,516,432,504,239,613,499,123,521,467,465,208,599,288,214,523,667
r4 yards,605,329,484,399,500,199,632,486,172,492,452,433,216,588,356,184,513,681

In [114]:
course_df

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
par,5,4,4,4,4,3,5,4,3,4,4,4,3,5,4,3,4,5
r1,613,330,497,451,514,252,604,490,150,514,451,448,227,599,368,179,526,632
r2,597,360,515,456,498,249,578,487,153,525,468,437,198,603,348,179,512,676
r3,609,331,516,432,504,239,613,499,123,521,467,465,208,599,288,214,523,667
r4,605,329,484,399,500,199,632,486,172,492,452,433,216,588,356,184,513,681

In [ ]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())